name: Test container scan

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:        
    - name: Docker login
      run: |
        docker login -u ${{ secrets.SHIGUPT_ACR_USERNAME }} -p ${{ secrets.SHIGUPT_ACR_PASSWORD }} shiguptacr.azurecr.io
        
    - name: Container scan - shiguptacr.azurecr.io/ascdemo:eca0572326b3a8bb4423c8ab2482d1e9f59df6c3
      uses: azure/container-scan@v0
      with:
        image-name: shiguptacr.azurecr.io/ascdemo:eca0572326b3a8bb4423c8ab2482d1e9f59df6c3
        
