name: Test container scan

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:        
#     - name: Docker login
#       run: |
#         docker login -u ${{ secrets.SHIGUPT_ACR_USERNAME }} -p ${{ secrets.SHIGUPT_ACR_PASSWORD }} shiguptacr.azurecr.io
    
#     - name: ACR login
#       uses: azure/docker-login@v1
#       with:
#         login-server: shiguptacr.azurecr.io
#         username: ${{ secrets.SHIGUPT_ACR_USERNAME }}
#         password: ${{ secrets.SHIGUPT_ACR_PASSWORD }}
      
#     - name: Container scan - shiguptacr.azurecr.io/ascdemo:eca0572326b3a8bb4423c8ab2482d1e9f59df6c3
#       uses: azure/container-scan@v0
#       with:
#         image-name: shiguptacr.azurecr.io/ascdemo:eca0572326b3a8bb4423c8ab2482d1e9f59df6c3

    - name: Container scan - nginx:stable
      uses: azure/container-scan@releases/v0
      continue-on-error: true
      with:
        image-name: nginx:stable
        
    - name: Container scan - nginx:stable
      uses: azure/container-scan@v0
      continue-on-error: true
      with:
        image-name: nginx:stable
        
    - name: Container scan - nginx:stable
      uses: azure/container-scan@v0.1
      continue-on-error: true
      with:
        image-name: nginx:stable
        
