name: Issue Pin/Unpin
on:
  issues:
    types: [pinned, unpinned]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    - name: Run a multi-line script
      run: |
        echo hello
        echo ${{ github.event.issue.id }}
