name: Issue Pin/Unpin
on:
  issues:
    types: [pinned, unpinned]

jobs:
  build:
    if: ${{ github.event.issue.number == 56 }}
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Run a multi-line script
      run: |
        echo hello
        echo ${{ github.event.issue.number }}
